<h1>注册</h1>
<form id="registerForm" method="POST" action="/register">
    <p>
        账号<input type="text" name="username">
    </p>
    <p>
        密码<input type="password" name="password">
    </p>
    <button type="submit">注册</button>
</form>
<button id="login">登录</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
<script>
    $(document).ready(function(){
        $('#registerForm').submit(function(event){
            event.preventDefault();
            alert('注册按钮被点击并被成功拦截了！');
            var formdata=$(this).serialize();
            $.ajax({
                url:'/register',
                type:'POST',
                data:formdata,
                success:function(response){
                    alert(response.message);
                    if(response.message=="注册成功"){
                        window.location.href='/login';
                    }
                    else{
                        alert("注册失败");
                    }
                },
            })
        })
        $('#login').click(function(){
            window.location.href='/login';
        })
    })
</script>
